<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commodities</title>
    <link rel="stylesheet" href="\static\style.css">
</head>
<div id="head_bar">
    <!--<div id="logo"><img src="/static/logo.png"></div>-->
    <div id="head_home" class="headings">Home</div>
    <div id="head_myportfolio" class="headings">My Portfolio</div>
    <div id="head_psx" class="headings">PSX</div>
    <div id="head_commodity" class="headings">Commodities</div>
    <div id="head_crypto" class="headings">Crypto</div>
    <div id="head_my_account" class="headings">My Account</div>
    <div id="head_login" class="headings">Login</div>

</div>

<body>
<div>
    <table>
        <thead>
            <tr style="background-color: #f2f2f2;">
            {%for column in heads%}
            <th style="padding: 10px; text-align: left;">{{column}}</th>
            {% endfor %}
            </tr>
        <tbody>
            {%for row in data%}
            <tr>
            {%for item in row%}
            <td style="padding: 8px; border: 1px solid #ddd;">{{item}} </td>
            {%endfor%}
            </tr>
            {%endfor%}
    </tbody>
    </thead>
    </table>

</div>
</body>
</html>
