<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
    <link rel="stylesheet" href="\static\style.css">
</head>

<body>
<div id="head_bar"></div>
<div id="filter">
    <H2>Filters</H2>

    <!-- index.html -->
<form action="/psx" method="POST">
  <p>Select your favorite fruit:</p>
  <input type="radio" id="apple" name="filter" value="Apple" onchange="this.form.submit()">
  <label for="apple">Apple</label><br>

  <input type="radio" id="banana" name="filter" value="Banana" onchange="this.form.submit()">
  <label for="banana">Banana</label><br>

  <input type="radio" id="cherry" name="filter" value="Cherry" onchange="this.form.submit()">
  <label for="cherry">Cherry</label><br>

</form>

</div>
<div id="psx_data">
<table>
    <thead>
    <tr style="background-color: #f2f2f2;">
    {%for column in heads%}
    <th style="padding: 10px; text-align: left;">{{column}}</th>
    {% endfor %}
    </tr>

    </thead>
    <tbody>
        {%for row in data%}
        <tr>
            {%for item in row%}
            <td style="padding: 8px; border: 1px solid #ddd;">{{item}} </td>
            {%endfor%}
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>

</body>
</html>
