<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
    <link rel="stylesheet" href="\static\style.css">
</head>

<body>
<div id="head_bar"></div>
<div id="databox"></div>

<div>
<table>
    <thead>
    <tr style="background-color: #f2f2f2;">
    {%for column in heads%}
    <th style="padding: 10px; text-align: left;">{{column}}</th>
    {% endfor %}
    </tr>

    </thead>
    <tbody>
        {%for row in data%}
        <tr>
            {%for item in row%}
            <td style="padding: 8px; border: 1px solid #ddd;">{{item}} </td>
            {%endfor%}
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>

</body>
</html>
